<div class="welcome-message">
  <div class="assistant welcome-content animate-welcome glass-effect">
    <div class="welcome-title animate-item">
      <span>你好，我是哪吒</span>
      <img src="assets/images/chatbot.gif" alt="哪吒" class="chatbot-avatar">
    </div>
    <div class="welcome-features">
      <div class="animate-item feature-title">我可以：</div>
      <ul>
        <li class="animate-item feature-item">
          <mat-icon>question_answer</mat-icon>
          <span>回答各种问题</span>
        </li>
        <li class="animate-item feature-item">
          <mat-icon>psychology</mat-icon>
          <span>帮你解决问题</span>
        </li>
        <li class="animate-item feature-item">
          <mat-icon>edit_note</mat-icon>
          <span>协助文档编写</span>
        </li>
      </ul>
      <div class="welcome-prompt animate-item">有什么我可以帮你的吗？</div>
    </div>
  </div>
</div>