@use '@angular/material' as mat;

@include mat.core();

$theme: mat.define-theme(
  (
    color: (
      theme-type: light,
      primary: mat.$violet-palette,
      tertiary: mat.$blue-palette,
    ),
    typography: (
      brand-family: 'Comic Sans',
      bold-weight: 900,
    ),
    density: (
      scale: -1,
    ),
  )
);

$dark-theme: mat.define-theme(
  (
    color: (
      theme-type: dark,
      primary: mat.$azure-palette,
      tertiary: mat.$blue-palette,
    ),
    typography: (
      brand-family: 'Comic Sans',
      bold-weight: 900,
    ),
    density: (
      scale: -1,
    ),
  )
);

html {
  // Apply the light theme by default
  @include mat.all-component-themes($theme);
  @include mat.system-level-colors($theme);
  @include mat.system-level-typography($theme);
}

html,
body {
  height: 100%;
  background-color: var(--mat-app-background-color) !important;
  &[mvp-theme='dark'] {
    @include mat.all-component-themes($dark-theme);
    @include mat.system-level-colors($dark-theme);
    @include mat.system-level-typography($dark-theme);
  }

  @include mat.menu-overrides((
    container-color: var(--sys-secondary-container),
  ));
}